{% extends 'server/base.html' %}

{% block title %}Server{% endblock title %}



{% block content %}

<section id = "server-home">

    <div class="heading">
        <h1>Welcome to code sharing server</h1>
    </div>

    <div class="container">
        <div class="form">
            <h2>Find your <em class="invert">server</em> here</h2><hr>

            <form action="" method="post" >
                {% csrf_token %}
                <input type="hidden" name="type" value="server">
                <div class="input-search">
                    <p>Enter your server ID</p>
                    <input type="search" name="server_id" id="server_id"
                    maxlength="10" placeholder="server id eg. Gupta_1" minlength="2">
                    {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == "warning"%}
                            <div class="error"><p>* {{ message }}</p></div>
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                    <button type="submit" onclick = "return check()">Search</button>
                </div>
                {% comment %} check Server Side {% endcomment %}
                <script>
                    function check()
                    {
                        var server_id = document.getElementById('server_id');
                        if (server_id.value.length === 0)
                        {
                            alert("Please Enter Server Id");
                            return false;}
                            return true;
                    }
                    
                </script>
            </form>
        </div>

        <div class="form">
            <h2>Find your <em class="invert">code</em> here</h2><hr>

            <form action="" method="post" >
                {% csrf_token %}
                <input type="hidden" name="type" value="code">
                <div class="input-search">
                    <p>Enter your Code ID</p>
                    <input type="search" name="code_id" id="code_id" minlength="6" maxlength="6"
                    placeholder="6-digit code id eg. CAPSEF" style="text-transform: uppercase;">
                    {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == "error" %}
                        <div class="error"><p>* {{ message }}</p></div>
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                    <button type="submit" onclick = "return check_code()">Search</button>
                </div>
                {% comment %} Check Code Side {% endcomment %}
                <script>
                    function check_code()
                    {
                        var server_id = document.getElementById('code_id');
                        if (server_id.value.length === 0)
                        {
                            alert("Please Enter Code Id");
                            return false;}
                            return true;
                    }
                    
                </script>
            </form>
        </div>
        
    </div>

</section>

{% endblock content %}