{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}" class="css">
    {% block css %}{% endblock css %}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2364513160736330"
     crossorigin="anonymous"></script>
</head>
<body>

    <nav id = "navbar">
        <a href="{% url 'server' %}" class="logo" >CuShare</a>
        <ul class="nav-list">
            {% block navbar %}
            {% endblock navbar %} 
            {% if request.session.LoginServerID %}
            <li class="nav-item"><a href="{% url 'logout' %}">Logout</a></li>
            {% endif %}         
        </ul>
        <button type="button" id = "nav-btn" class="nav-btn btn-open">=</button>
    </nav>

    {% block content %}
        
    {% endblock content %}
    <script src="{% static 'core/js/app.js' %}"></script>
    {% block js %}{% endblock js %}
</body>
</html>